.register{
	width:1000;
	background:white;
margin-top:-30px;      
}
.register_page{   /* input type text*/

		padding: 5px 20px;
		font-family:tahoma;
		font-size:18px;
		border:1px solid black; 
		width:370px;
		height:50px;
		margin-left:50px;
		margin-bottom:15px;
	}
	.register_page:hover{
		border:1px solid cyan;
	}
	.register_button{
		margin-top:20px;
			
		width:180px;
		height:50px;
		color:black;
		font-size:20px;
		margin-left:50px;
	}
	.log{
		font-weight:bold;

		text-decoration:none;
		color:skyblue;
	}
	